body {
    margin: 0;
    padding: 0;
    background-color: #dddbdb;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 20px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

#darkModeBtn {
    background-image: url(./assets/theme-light-dark.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 20px;
}

button:hover {
    background-color: #555;
}


.video-container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
}

video {
    width: 100%;
    display: block;
}

.custom-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#timer {
    color: rgb(66, 64, 64);
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}


input[type="range"] {
    width: 100%;
    margin: 0 10px;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(66, 64, 64);
    border-radius: 10px;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 30px;
    background-image: url("kukeriicon.png");
    background-size: cover;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
    transform: rotateZ(var(--thumb-rotate, 0deg));
}


body.dark-theme {
    background-color: #333;
    color: #c5c3c3;
}

body.dark-theme header,
body.dark-theme footer {
    background-color: #28282b;
}

body.dark-theme .video-text {
    background-color: #3e3c3d;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.video-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.video-text {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    background: #696667;
}

.video-text-title,
.main-heading {
    text-align: center;
    font-family: cursive;
    font-style: oblique;
}

.text {
    font-family: cursive;
}

.left-text {
    order: 0;
}

.right-text {
    order: 2;
}


@media screen and (max-width: 600px) {
    .video-wrapper {
        flex-direction: column;
    }

    .video-text {
        order: 2;
    }
}

@media screen and (max-width: 768px) {
    .video-wrapper {
        flex-direction: column;
    }

    .video-text {
        order: 2;
    }
}


@media screen and (max-width: 1509px) {
    .video-wrapper {
        flex-direction: column;
    }

    .video-text {
        order: 2;
    }
}


@media screen and (max-width: 480px) {
    .video-wrapper {
        flex-direction: column;
    }

    .video-text {
        order: 2;
    }
}